@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h4>Edit this item: @Html.DisplayFor(model => model.Name)</h4>

<p><strong>NOTE: </strong>Machine's name field cannot be left empty.</p>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600" })</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.MachineId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Description)
    @Html.EditorFor(model => model.Description)
    
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to list", "Index")</p>