@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h4>Edit this engineer: @Html.DisplayFor(model => model.Name)</h4>

<p>@Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger", @style = "font-weight: 600" })</p>

<p><strong>NOTE: </strong>Engineer's name field cannot be left empty.</p>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.EngineerId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)

    @Html.LabelFor(model => model.Specialty)
    @Html.EditorFor(model => model.Specialty)
    
    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to index", "Index")</p>